.leftSidebar {
	.webix_tree_item {

		.webix_icon {
			color: #fff;
			margin-right: 10px;
		}
		&.webix_selected {
			.webix_icon {
				margin-right: 10px;
			}
		}
	}

	.webix_context_spacer {
		height: 15px;
	}
}
